{% extends "base.html" %}

{% block title %}
Compte Inactif
{% endblock title %}

{% block content %}

<div class="container p-5">
    <div class="row d-flex">
        <div class="col-7 m-auto">
            <div class="alert alert-warning text-center">
                Compte inactif, attendez que les administrateurs confirment votre besoin d'adhésion à la communauté
                et vous pourrez vous connectez que ça sera fait.
                <br>
                <br>
                Merci pour votre comprehension !
            </div>
        </div>
    </div>
</div>

{% endblock content %}