{% extends "base.html" %}

{% load static %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}

{% include "com/includes/banner.html" with banner_text=title %}

<div class="container py-5">
    <div class="row">
        {% for member in members %}
        <div class="col-12 col-md-3">
            <div class="card">
                <div class="card-body">
                    {% if member.profile.photo %}
                    <img src="{{member.profile.photo.url}}" class="img-fluid rounded-circle" width="100" alt="{{member.get_full_name}}">
                    {% else %}
                    <img src="{% static 'assets/images/aden.jpg' %}" class="img-fluid rounded-circle" width="100" alt="">
                    {% endif %}
                    <p class="color-orange text-uppercase">{{member.first_name}} {{member.last_name}}</p>
                    {% with member.profile as profile %}
                    <p>{{profile.degree}} - {{profile.filiere}} - {{profile.promo}}</p>
                    <p>{{profile.poste}}</p>
                    <p>{{profile.entreprise}}</p>
                    <br>
                    {% if request.user.is_member %}
                    <p>{{profile.phone}}</p>
                    <p>{{profile.email}}</p>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        {% empty %}
        <p>Annuaire vide !</p>
        {% endfor %}
    </div>

    {% include "includes/pagination.html" %}
</div>

{% endblock content %}