{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
{{title}}
{% endblock title %}

{% block css %}
<link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

{% endblock css %}

{% block content %}

{% include "com/includes/banner.html" with banner_text=title %}

<div class="container py-5">
    <div class="row">
        <div class="col-12 col-md-8">
            <video
            id="my-video"
            class="video-js mb-2"
            controls
            preload="auto"
            width="auto"
            height="263"
            data-setup="{}"
            
          >
            <source src="{% static 'assets/aden.mp4' %}" type="video/mp4" />
            <!-- <source src="MY_VIDEO.webm" type="video/webm" /> -->
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a
              web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
              >
            </p>
          </video>
            <p>
                {% blocktrans %}
                Un grand nombre d'alumni sont présents à des postes clés
                d'arganisations camerounaises et internationales
                {% endblocktrans %}
            </p>
            <p>{% trans "Vous trouverez dans cette rubrique quelques protraits" %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom(s) & Prénom(s)</th>
                            <th scope="col">Promotion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for portrait in portraits %}
                        <tr>
                            <th>{{forloop.counter}}</th>
                            <td><a
                                class="color-orange"    href="#">{{portrait.user.get_full_name}}</a>
                            </td>
                            <td>{{portrait.filiere}} - {{portrait.promo}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include "includes/pagination.html" %}

</div>

{% endblock content %}

{% block javascript %}
<script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
{% endblock javascript %}