{% load static %}

<script src="{% static "assets/js/jquery.min.js" %}"></script>
<script src="{% static "assets/js/popper.min.js" %}"></script>
<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
<script src="{% static "assets/js/slick.min.js" %}"></script>
<script src="{% static "assets/js/jquery.fancybox.min.js" %}"></script>
<script src="{% static "assets/js/aos.js" %}"></script>
<script src="{% static "assets/js/script.js" %}"></script>
<script src="{% static "assets/js/page/home/home.js" %}"></script>