{% extends "base.html" %}

{% block title %}
  {{title}}
{% endblock title %}

{% block content %}
  
    {% include "com/includes/banner.html" with banner_text=title %}

    <div class="container py-5">
        <div class="row">
        {% for document in documents %}
          {% include "com/includes/document-single.html" with document=document %}
          {% empty %}

          <p>Téléchargements vides</p>
        {% endfor %}
        </div>
        {% include "includes/pagination.html" %}
    </div>

{% endblock content %}