{% extends "base.html" %}

{% load static %}

{% block title %}
Liste des événements
{% endblock title %}

{% block content %}

{% include "com/includes/banner.html" with banner_text="Nos événements" %}

<section class="event-listing">
    <div class="container">
        <div class="sec-title">
            <h2>Tous les événements</h2>
            <div class="divider">
                <span class="fa fa-mortar-board"></span>
            </div>
            <div class="row">

                {% for event in events %}
                {% include "com/includes/single-event.html" with event=event %}
                {% empty %}
                <h4 class="text-danger">Aucun événement trouvé!</h4>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}