{% extends "base.html" %}
{% load i18n %}

{% block title %}
Albums
{% endblock title %}

{% block content %}

{% include "com/includes/banner.html" with banner_text="Nos Albums" %}

<section class="course">
    <div class="container">
        <div class="sec-title text-center mb-3" data-aos="fade-up" data-aos-duration="1000">
            <span class="title">{% trans "Notre galerie photos" %}</span>
            <h2>{% trans "Révivez nos meilleurs moments en images" %} 😍😍😍</h2>
            <div class="divider">
                <span class="fa fa-mortar-board"></span>
            </div>
        </div>
        <!-- <ul class="nav nav-pills mb-3 p-0 justify-content-center" id="pills-tab" role="tablist" data-aos="fade-up"
                data-aos-duration="1000">
                <li class="nav-item">
                    <a class="nav-link active" id="showall-tab" data-toggle="pill" href="#showall" role="tab"
                       aria-controls="showall" aria-selected="true">Show All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Events-tab" data-toggle="pill" href="#Events" role="tab"
                       aria-selected="false">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Sports-tab" data-toggle="pill" href="#Sports" role="tab"
                       aria-selected="false">Sports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Classroom-tab" data-toggle="pill" href="#Classroom" role="tab"
                        aria-selected="false">Classroom</a>
                </li>
            </ul> -->

        <div class="row text-center">
            {% for galery in galeries %}
            <div class="col-12 col-md-4">
                <div class="card">
                    <img src="{{galery.images.last.url}}" alt="{{galery.name}}" class="card-img-top">
                    <div class="card-body">
                        <p>
                            {{galery.description}}

                        </p>
                        <a href="{{galery.get_absolute_url}}" class="btn theme-orange"></a>

                    </div>
                </div>
            </div>

            {% empty %}
            <h4 class="text-danger text-center">{% trans "Galerie photos vide" %}</h4>
            {% endfor %}



        </div>
        {% include "includes/pagination.html" %}
    </div>
</section>
{% endblock content %}