{% extends "base.html" %}
{% load i18n %}

{% block title %}
Albums
{% endblock title %}

{% block content %}

{% include "com/includes/banner.html" with banner_text="Nos Albums" %}

<section class="course">
    <div class="container">
        <div class="sec-title text-center mb-3" data-aos="fade-up" data-aos-duration="1000">
            <span class="title">{% trans "Notre galerie photos" %}</span>
            <h2>{% trans "Révivez nos meilleurs moments en images" %} 😍😍😍</h2>
            <div class="divider">
                <span class="fa fa-mortar-board"></span>
            </div>
        </div>
        <!-- <ul class="nav nav-pills mb-3 p-0 justify-content-center" id="pills-tab" role="tablist" data-aos="fade-up"
                data-aos-duration="1000">
                <li class="nav-item">
                    <a class="nav-link active" id="showall-tab" data-toggle="pill" href="#showall" role="tab"
                       aria-controls="showall" aria-selected="true">Show All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Events-tab" data-toggle="pill" href="#Events" role="tab"
                       aria-selected="false">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Sports-tab" data-toggle="pill" href="#Sports" role="tab"
                       aria-selected="false">Sports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Classroom-tab" data-toggle="pill" href="#Classroom" role="tab"
                        aria-selected="false">Classroom</a>
                </li>
            </ul> -->

        <div class="row text-center">
            <div class="d-flex align-items-center justify-content-center tab-content" id="pills-tabContent">
                <div class="tab-pane  fade show active" id="showall" role="tabpanel" aria-labelledby="showall-tab">
                    {% for galery in galeries %}
                   
                    {% include "com/includes/galery-item.html" with item=galery %}
                    {% empty %}
                    <h4 class="text-danger text-center">{% trans "Album vide" %}</h4>
                    {% endfor %}


                </div>


            </div>
        </div>
        {% if is_paginated %}
        <div class="row pt-5">
            <div class="col-12">
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <!-- <a href="?page=1">&laquo; first</a> -->
                            <a href="?page={{ page_obj.previous_page_number }}" class="color-orange">Précedent</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
                        </span>
                
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="color-orange">Suivant</a>
                            <!-- <a href="?page={{ page_obj.paginator.num_pages }}" class="color-orange">Dernier &raquo;</a> -->
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock content %}