{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Articles" %}
{% endblock title %}

{% block content %}

{% include "com/includes/banner.html" with banner_text='Blog' %}

<section class="blog-block">
    <div class="container">
       
        <div class="row">
           {% for post in posts %}
            {% include "com/includes/single-post.html" with item=post %}
           {% endfor %}

           
        </div>
        {% include "includes/pagination.html" %}
    </div>
</section>
{% endblock content %}