{% extends "base.html" %}

{% block title %}
  {{comity.object}}
{% endblock title %}


{% block content %}

{% include "com/includes/banner.html" with banner_text='Détails communiqué' %}


<div class="container py-5">
    <div class="row">
        <div class="col-12 col-md-7">
            <h4 class="mb-3 color-orange">{{comity.object}}</h4>
            {% if comity.file %}
            <a href="{{comity.file.url}}" class="color-orange" blank=True download="">Télécharger le fichier !</a>
            {% endif %}
            <p>{{comity.content|safe}}</p>

        </div>
    </div>
</div>

{% endblock content %}