{% extends "base.html" %}

{% load i18n %}

{% block title %}
{% trans "Communiqué comité strategique" %}
{% endblock title %}

{% block content %}
{% include "com/includes/banner.html" with banner_text='Communiqués comité stratégique' %}

<div class="container py-5">
    <div class="row">
        {% for comity in comities %}
        <div class="col-12 col-md-6">
            <h5>
                {{comity.object}}
                <!-- <a href="{{comity.get_absolute_url}}">{{comity.object}}</a> -->
            </h5>
            <p class="text-justify">{{comity.content|safe}}</p>
            {% if comity.file %}
            <a href="{{comity.file.url}}" class="color-orange" download>Télécharger le fichier joint ici !</a>
            {% endif %}
        </div>
        {% empty %}
        <p class="text-center"> Aucun communiqué n'a été publié </p>
        {% endfor %}
    </div>
</div>

{% endblock content %}