<div class="col-12 col-md-4">
    <div class="card">
        <div class="card-body">
            <p class="mb-0"><span class="color-orange">Communiqué :</span> </p>
            <h5 class="mt-0">{{comity.object}}</h5>
            <!-- <p class="text-justify">{{comity.content|truncatewords:20|safe}}</p> -->
            <!-- {% if comity.file %}
            <a href="{{comity.file.url}}" class="color-orange" download="">Télécharger le fichier !</a>
            {% endif %} -->
            <a href="{{comity.get_absolute_url}}" class="color-orange">Lire plus</a>
        </div>
    </div>
</div>