{% extends "base.html" %}

{% block title %}
  Comité stratégique
{% endblock title %}

{% block content %}
  
{% include "com/includes/banner.html" with banner_text='Comité Statégique' %}

<div class="container">
    <div class="row d-flex py-4">
        <div class="col-12 col-md-4 mx-auto">
            {% include "us/includes/single-comity.html" with comity=first_grade %}
        </div>
    </div>
    <div class="row py-2">
        {% for comity in second_grades %}
        <div class="col-12 col-md-6">
            {% include "us/includes/single-comity.html" with comity=comity %}
        </div>
        {% endfor %}
    </div>
    <div class="row py-2">
        {% for comity in third_grades %}
        <div class="col-12 col-md-6">
            {% include "us/includes/single-comity.html" with comity=comity %}
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}