{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}

<!-- Reglement interieur -->
{% include "com/includes/banner.html" with banner_text=title %}


<section class="container py-5">

    <div class="row">

        <div class="col-8">
            {{obj.content|safe}}
        </div>
        <!-- <div class="col-9 p-17">
            <h3>Réglement interieur</h3>

            <h5>PREAMBULE</h5>
            <p>Le présent Règlement Intérieur est établi en application des Statuts de l’Association des Diplômés
                de l’ENSAI de Ngaoundéré.
                Il porte sur les modalités d’application de ces Statuts et fixe les dispositions relatives à :</p>
            <ul>
                <li> L’organisation et le fonctionnement de l’ADEN ;
                <li> La gestion des finances de l’ADEN ;</li>
                <li>La discipline et les sanctions.</li>
            </ul>
            <p>L’Association souscrit entièrement aux principes d’égalité entre tous les membres, encourage le
                débat contradictoire et le choix démocratique de ses dirigeants sur la base des critères de
                dévouement, d’abnégation et d’efficacité ; toutes qualités doivent permettre son essor et son
                développement.</p>
            <p> L’Association reconnait l’existence de même type d’association au niveau national ou
                international et se positionne par rapport à elles, en partenaire potentiel prêt à développer en
                synergie toute sorte d’action pouvant concourir à l’atteinte de ses objectifs.</p>
            <p>Le présent règlement intérieur est transmis à l'ensemble des membres ainsi qu'à chaque nouvel
                adhérent.</p>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                TITRE I : MEMBRES
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <section class="article py-3">
                                <h4>Article 1: Composition</h4>
                                <h6>L'ADEN est composée des membres suivants:</h6>

                                <p class="p-17 "> a) Membres aspirants : Tout étudiant de l’école prétendant au diplôme
                                    de l’ENSAI.
                                    Ceux-ci pourront assister aux réunions publiques de l'Association et aux Assemblées
                                    Générales. Ils ne disposent pas de droits de vote ou de décision.</p>
                                <p class="p-17 ">b) Membres adhérents : Tout diplômé de l’ENSAI ou de l’ENSIAAC de
                                    Ngaoundéré
                                    ayant adhéré aux présents statuts et s’étant acquitté de tous ses droits envers
                                    l’Association.</p>
                                <p class="p-17 ">c) Membres d'honneur : les personnes qui rendent ou qui ont rendu des
                                    services
                                    signalés à l'Association ou à l’ENSAI de Ngaoundéré. Elles reçoivent ce titre du
                                    Bureau Exécutif de l’Association. Sont de droit, Membres d'Honneur, le Directeur
                                    en exercice à l’ENSAI de Ngaoundéré et les anciens Directeurs de l’ENSIAAC ou
                                    ENSAI, Chefs de Départements et Professeurs.</p>
                            </section>
                            <section class="article py-3">
                                <h4>Article 2: Cotisations</h4>
                                <ol class="p-17 ">
                                    <li class="p-17 ">Les membres d'honneur ne paient pas de cotisation sauf s'ils
                                        décident de s'en
                                        acquitter de
                                        leur propre volonté pour soutenir les activités de l’Association.</li>
                                    <li>Tout membre doit régler son inscription qui est évaluée à 10 000 FCFA et ne se
                                        renouvelle
                                        plus sauf s’il a été radié et accepté de nouveau comme adhérent à l’Association
                                    </li>
                                    <li>
                                        Les membres adhérents doivent s'acquitter d'une cotisation annuelle de 20 000 F
                                        CFA.
                                    </li>
                                    <li>Le montant de la cotisation est fixé par le Comité Stratégique et peut être revu
                                        chaque
                                        année si le besoin se fait ressentir sur les activités à financer par
                                        l’Association.</li>
                                    <li>Le versement de la cotisation annuelle peut se faire en 04 tranches maximum. Il
                                        est effectué
                                        auprès du Trésorier et versé dans le compte de l’Association. </li>
                                    <li>Hebdomadairement le Trésorier partage l’état des comptes validés par le
                                        Commissaire aux
                                        Comptes.</li>
                                    <li>Tout décaissement devrait être effectué sous condition de deux signataires : le
                                        Président et
                                        le Trésorier. La délivrance des documents bancaires (chèque et relevé) est
                                        effectuée à la
                                        demande du Commissaire aux Compte et/ou le trésorier</li>
                                    <li>Toute cotisation versée à l'Association est définitivement acquise. Un
                                        remboursement de
                                        cotisation en cours d'année ne peut être exigé en cas de démission, d'exclusion
                                        ou de décès
                                        d'un membre.</li>
                                    <li>L’année au sein de l’Association peut être qualifiée de : année budgétaire ou
                                        année
                                        mandataire. L’année budgétaire va du 1er Janvier au 31 Décembre au cours d’une
                                        année.
                                        L’année mandataire quant à elle, couvre 365 jours à compter de la date de tenue
                                        des
                                        dernières élections en Assemblée Générale.</li>
                                </ol>
                            </section>
                            <section class="article py-3">
                                <h4>Article 3: Admission de nouveaux membres adhérents</h4>

                                <ol>
                                    <li>L'ADEN a vocation à accueillir de nouveaux membres. Ceux-ci devront justifier
                                        auprès de
                                        l’Association de l’obtention de leur diplôme auprès de l’ENSAI.</li>
                                    <li>Le Secrétariat Général est chargé ici de récupérer chaque année les listes des
                                        étudiants ayant
                                        obtenu leurs diplômes et se rapproche d’eux pour les formalités d’adhésion.</li>
                                </ol>
                            </section>

                            <section class="article py-3">
                                <h4>Article 4: Exclusion - Perte de la qualité des membres</h4>
                                <ol>
                                    <li>Conformément à la procédure définie à l'article 3 sur l’adhésion à
                                        l'Association, seuls les
                                        cas de non-participation aux activités de l'Association pendant un délai de 3
                                        ans, refus du
                                        paiement de la cotisation annuelle, des cas d’indiscipline avérée et sanctionnés
                                        par le
                                        Bureau Exécutif peuvent induire une procédure d'exclusion.</li>
                                    <li>La perte de la qualité de membre peut résulter d’une radiation prononcée pour
                                        motifs
                                        graves présentés par le Bureau Exécutif. Elle est validée par le Comité
                                        Stratégique à la
                                        majorité des trois-quarts de ses membres. </li>
                                    <li>Celle-ci doit être prononcée par le Bureau Exécutif, après avoir entendu le
                                        membre contre
                                        lequel la procédure d'exclusion est engagée, à une majorité des trois-quarts des
                                        membres
                                        élus (Comité Stratégique).</li>
                                </ol>
                            </section>
                            <section class="article py-3">
                                <h4>Article 5: Démission - Décès - Disparition</h4>
                                <ol>
                                    <li>Le membre démissionnaire devra adresser sous lettre recommandée avec accusé de
                                        réception sa décision au Président de l’ADEN.</li>
                                    <li>La décision est présentée et entérinée par le Bureau Exécutif.</li>
                                    <li>Aucune restitution de cotisation n'est due au membre démissionnaire</li>
                                    <li>En cas de décès, la qualité de membre disparaît avec la personne.</li>
                                </ol>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                TITRE II : FONCTIONNEMENT DE L'ASSOCIATION
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                          <section class="article py-3">
                            <h4>Article 6: Démission - Décès - Disparition</h4>
                          </section>
                          <section class="article py-3">

                        </section>
                        <section class="article py-3">

                        </section>
                        <section class="article py-3">

                        </section>
                        <section class="article py-3">

                        </section>
                        <section class="article py-3">

                        </section>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                TITRE III : DISPOSITIONS DE LA DISPLINE ET DES SANCTIONS
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3
                            wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                            laborum
                            eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                            nulla
                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                            nesciunt
                            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                            accusamus
                            labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            TITRE IV : DISPOSITIONS DIVERSES
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf
                        moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                        eiusmod.
                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                        assumenda
                        shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                        sapiente ea
                        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                        denim
                        aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div> -->

    </div>
    <div class="row">
        <div class="col-8">
        
            {% if motif == 'status' %}
            <a href="{{ MEDIA_URL }}statut_fr.pdf" class="btn theme-orange" target="_blank">Télécharger le fichier pdf ici !</a>
            {% elif motif == 'actions' %}
            <a href="{{ MEDIA_URL }}missions_plan_action_fr.pdf" class="btn theme-orange" target="_blank">Télécharger le fichier pdf ici !</a>
            {% else %}
            <a href="{{ MEDIA_URL }}reglement_interieur_fr.pdf" class="btn theme-orange" target="_blank">Télécharger le fichier pdf ici ! </a>

            {% endif %}

        </div>
    </div>
    </div>
</section>

{% endblock content %}