{% extends "base.html" %}
{% load static %}
{% block title %}
ENSAI
{% endblock title %}

{% block content %}

<div id="presentation" >
    {% include "com/includes/banner.html" with banner_text='Présentation institutionnelle' %}


<div class="container py-4">
    <div class="row">
        <div class="col-8 mx-auto d-flex flex-column align-items-center">
            <img src="{% static "assets/images/ensai.png" %}" class="img-fluid mb-3" alt="ENSAI">
            {{presentation.content|safe}}
        </div>
    </div>
</div>
</div>

<div id="filiere">
{% include "com/includes/banner.html" with banner_text='Ses filières et formations' %}

<div class="container py-4">
    <div class="row">
        <div class="col-7">
            {{filiere.content|safe}}
        </div>
    </div>
</div>
</div>
{% endblock content %}