{% extends "base.html" %}

{% load static %}

{% block title %}
  FAQs
{% endblock title %}


{% block content %}
{% include "com/includes/banner.html" with banner_text='FAQs' %}
<section class="video-faq">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-lg-6 col-md-6 pl-0 small-screen">
                <div style="background: #0c0b39; opacity: 0.5;">
                  <div class="video-area" style="background: url('{% static 'assets/images/faq.jpg' %}');">
                    
                  </div>
                </div>
            </div> -->
            <div class="col-lg-6 col-md-6 p-5" data-aos="fade-up" data-aos-duration="550">
                <div class="sec-title bg-fill">
                    <span class="title">LES QUESTIONS FREQUEMMENT POSÉES</span>
                    <!-- <h2 class="text-white">Les questions les plus pertinentes</h2> -->
                    
                </div>
  
                <div class="panel-group pt-3" id="accordion2" role="tablist" aria-multiselectable="true">
                    {% for faq in faqs %}
                    <div class="panel panel-default mb-4">
                        <div class="panel-heading" role="tab" id="headingOne2">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion2"
                                   href="#collapseOne2"
                                   aria-expanded="true">
                                   {{faq.question}}
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingOne2">
                            <div class="panel-body">
                                <p>{{faq.response|safe}}</p>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p class="text-center">Aucun faq </p>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
  </section>

{% endblock content %}