<div class="card">
    <div class="card-body">
        <img src="{{comity.photo.url}}" alt="{{comity.full_name}}" width="100" class="img-fluid mb-2">
       <p class="color-orange mb-0 mt-2">{{comity.title}}</p>
        <h3 class="text-primary">{{comity.full_name}}</h3>
        <p><i class="fa fa-lightbulb-o"></i> &ensp; {{comity.promotion}}</p>
        <p><i class="fa fa-fighter-jet"></i> &ensp; {{comity.location}}</p>
        <p><i class="fa fa-line-chart"></i> &ensp; {{comity.rule}}</p>
    </div>
</div>